
/.venv
myproject/.env
myproject/google-cloud-vision-credential.json


# igonore any pycache directoyry
/myproject/image_generator/__pycache__
**/__pycache__/ 
__pycache__/


/myproject/image_generator/migrations/__pycache__


.DS_Store
